.App {
  height: 100%;
  width: 100%;
}

.bg-element {
  color: #d9d9d9;
}

.bg-left {
  border-right: dashed 2px;
}

.bg-right {
  border-left: dashed 2px;
}

.bg-top-center {
  border-bottom: dashed 2px;
}

.bg-top-right {
  border-bottom: dashed 2px;
}

.bg-top-left {
  border-right: dashed 2px;
  border-bottom: dashed 2px;
}

.bg-top-right {
  border-left: dashed 2px;
}

.bg-container {
  display: grid;
  height: 100%;
  grid-template-columns: [left] 150px [center] auto [right] 150px;
  grid-template-rows: [top] 100px [center] auto;
}
