.group-members-container {
  width: 100px;
  height: 100px;
  box-shadow: 0 70px 100px -20px rgb(50 50 93 / 25%);
  border-radius: 8px;
  width: 400px;
  height: 550px;
  background: linear-gradient(to top, #f6f9fc 70%, #ffffff 30%);
  display: grid;
  grid-template-rows: [switch] 50px [title] 50px [msg] 65px [content] auto;
}

.toggle-header {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  text-align: center;
}

.toggle-container {
  padding: 0.7em;
  justify-self: flex-end;
}

.split-toggle {
  justify-content: start;
  margin: 0 auto;
  width: 4em;
  height: 1.8em;
  background-color: lightgrey;
  border-radius: 1em;
  display: flex;
  align-items: center;
  align-self: center;
}

.circle-toggle {
  background-color: rgb(201, 61, 61, 0.65);
  width: 2em;
  height: 1.4em;
  border-radius: 1em;
  margin: 0 0.25em 0 0.25em;
}

.group-members-title {
  margin: 0px auto 0px auto;
  font-family: "Poppins", sans-serif;
  color: #39444e;
  align-self: flex-end;
}

.group-members-msg {
  transition: all 1s ease;
  margin: 0px auto 0px auto;
  font-family: "Poppins", sans-serif;
  color: #39444e;
  font-size: 13px;
  margin: 0 80px;
  text-align: center;
  hyphens: auto;
  line-height: 16px;
  opacity: 1;
}

.group-members-msg-fade {
  opacity: 0;
}
