@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.summaries-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.summaries-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.5s ease;
}

.summaries-exit-active {
  transition: all 0.5s ease;
}

.summaries-exit {
  opacity: 0;
  transform: translateX(10px);
}

.expense-container::-webkit-scrollbar {
  width: 6px;
  overflow: overlay;
}

.expense-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 3px;
}

.expense-container {
  overflow: auto;
  scroll-behavior: smooth;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ge-button {
  cursor: pointer;
  width: 140px;
  height: 47px;
  border-radius: 8px;
  border: none;
  background-color: #3dc970;
  color: white;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.add-expense-btn {
  background-color: lightgrey;
}

.user-summaries-container {
  overflow: overlay;
  margin: 0 50px;
  scroll-behavior: smooth;
}

.user-summaries-container::-webkit-scrollbar {
  width: 6px;
  overflow: overlay;
  height: 5px;
}

.user-summaries-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 3px;
}

.user-summaries {
  min-width: max-content;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  color: #39444e;
  font-size: 12px;
}

.user-summaries h3 {
  margin: 0;
}

.user-summaries li {
  display: inline;
}

.group-expenses-container {
  display: grid;
  grid-template-rows: [title] 85px [balance] 30px [userBalances] 50px [main] auto [buttons] 100px;
  grid-template-columns: 400px;
  box-shadow: 0 70px 100px -20px rgb(50 50 93 / 25%);
  border-radius: 8px;
  position: relative;
  width: 400px;
  height: 550px;
  background: linear-gradient(to top, #f6f9fc 70%, #ffffff 30%);
}

.balance-value {
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
}

section {
  overflow: overlay;
  margin: 0 50px;
}

span {
  margin: 5px;
}

.balance {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: #39444e;
  margin: auto auto;
}

.group-name {
  padding-top: 40px;
  margin: auto auto;
  font-family: "Poppins", sans-serif;
  color: #39444e;
}
