@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.input-container {
  align-items: center;
  max-height: 40px;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
}

.input-container input {
  margin-bottom: 5px;
}

.borrowers-enter {
  opacity: 0;
  max-height: 0em;
}

.borrowers-enter-active {
  transition: max-height 500ms ease-out, opacity 300ms ease-out;
  opacity: 1;
  max-height: 2.5em;
}

.borrowers-exit {
  opacity: 1;
}

.borrowers-exit-active {
  opacity: 0;
  transition: max-height 500ms ease-out, opacity 300ms ease-out;
  max-height: 0;
}

.summaries-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.summaries-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.5s ease;
}

.summaries-exit-active {
  transition: all 0.5s ease;
}

.summaries-exit {
  opacity: 0;
  transform: translateX(10px);
}

.expense-container::-webkit-scrollbar {
  width: 6px;
  overflow: overlay;
}

.expense-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 3px;
}

.expense-container {
  padding-bottom: 10px;
  overflow: auto;
  scroll-behavior: smooth;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.ge-button {
  transition: opacity 0.3s ease;
  outline: none;
  box-shadow: 0 5px 0 rgb(61, 201, 112, 0.95);
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: rgb(61, 201, 112, 0.65);
  color: #39444e;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}

.ge-button:active {
  transform: translateY(5px);
  box-shadow: none;
}

.add-expense-btn {
  background-color: lightgrey;
}

.user-summaries-container {
  overflow: overlay;
  margin: 0 50px;
  scroll-behavior: smooth;
}

.user-summaries-container::-webkit-scrollbar {
  width: 6px;
  overflow: overlay;
  height: 5px;
}

.user-summaries-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 3px;
}

.user-summaries {
  min-width: max-content;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  color: #39444e;
  font-size: 12px;
}

.user-summaries h3 {
  margin: 0;
}

.user-summaries li {
  display: inline;
}

.group-expenses-container {
  display: grid;
  grid-template-rows: [title] 110px [balance] 55px [main] auto;
  box-shadow: 0 70px 100px -20px rgb(50 50 93 / 25%);
  border-radius: 8px;
  position: relative;
  width: 30em;
  height: 35em;
  background: linear-gradient(to top, #f6f9fc 70%, #ffffff 30%);
}

.balance-value {
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
}

section {
  overflow: overlay;
  margin: 0 50px;
}

span {
  margin: 5px;
}

.balance {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #39444e;
  margin: 0;
  justify-self: center;
}

.group-name {
  padding-top: 40px;
  margin: auto auto;
  font-family: "Poppins", sans-serif;
  color: #39444e;
}
