.user-switching-container {
  align-self: center;
  margin-right: 15%;
}

select {
  border-color: lightgrey;
  border-radius: 16px;
  font-size: 16px;
  font-family: "poppins";
  padding: 0 10px 0 10px;
  height: 35px;
  font-weight: bold;
  outline: 0;
}
